# Root Global Environment Configuration Template

# AWS Region & Access Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=fakeAccessKeyId
AWS_SECRET_ACCESS_KEY=fakeSecretAccessKey

# Local DynamoDB Endpoint (Set for local testing, remove for real AWS DynamoDB Cloud)
DYNAMODB_ENDPOINT=http://localhost:8000

# Microservice Service Ports
API_GATEWAY_PORT=8000
USER_SERVICE_PORT=8001
QUIZ_SERVICE_PORT=8002
RESULT_SERVICE_PORT=8003

# Internal Service Proxy Routing
USER_SERVICE_URL=http://localhost:8001
QUIZ_SERVICE_URL=http://localhost:8002
RESULT_SERVICE_URL=http://localhost:8003
