# API Gateway Service Environment Variables

# Server Port
PORT=8000

# Backend Service Proxy URLs
# In local development outside Docker: http://localhost:PORT
# In Docker / Kubernetes: http://<service-name>:PORT
USER_SERVICE_URL=http://localhost:8001
QUIZ_SERVICE_URL=http://localhost:8002
RESULT_SERVICE_URL=http://localhost:8003
